{{ define "breadcrumb" }}
{{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
{{- $context := . }}
{{- $termTitle := .Title }}
{{- $data := .Data }}
<article itemprop="mainEntity" class="h-entry" id="skip-to-content" aria-labelledby="{{ anchorize $termTitle }}" itemid="#skip-to-content" itemscope itemtype="http://schema.org/CreativeWorkSeries">
  {{- range first 1 (where $.Site.Data.series "key" "eq" .Title ) }}
  <header>
    <link itemprop="mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
    <h1 itemprop="headline" class="p-name" id="{{ anchorize $termTitle }}">{{ .title }}</h1>
    {{ partial "footer/image.html" . }}
  </header>
  <section class="e-content content">
    {{ partial "paragraphy.html" .description }}

    <p itemprop="about">A list of all of the posts in the <cite>{{ .title }}</cite> series.  I've ordered the posts from oldest to newest.</p>

    <ol>
      {{ $lastInstance := sub (len $data.Pages) 1 }}
      {{- range $index, $entry := sort $data.Pages "Date" "asc" }}
      {{- with $entry }}
      <li>
        <time {{ if (or (eq $index 0) (eq $index $lastInstance)) }}itemprop="{{ if eq $index 0 }}startDate{{ end }} {{ if eq $index $lastInstance }}endDate{{ end }}"{{ end }} datetime="{{ dateFormat .Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date}}</time> &middot;
        <span itemprop="hasPart" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="position" content="{{ $index }}" />
          <cite itemprop="name"><a itemprop="url" href="{{ .Permalink}}">{{ .Title }}</a></cite>
	  {{- with .Params.Headline }}
	  <p>{{ . | markdownify }}</p>
	  {{- end }}
        </span>
      </li>
      {{- end }}
      {{- end }}
    </ol>
  </section>
  {{- end }}
</article>
{{ end }}
