{{ define "breadcrumb" }}
{{ partial "breadcrumb.html" . }}
{{ end }}
{{ define "main" }}
<article itemprop="mainEntity" class="h-entry" aria-labelledby="{{ anchorize .Title }}" id="skip-to-content" itemid="#skip-to-content" itemscope itemtype="http://schema.org/WebPageElement">
  <header>
    <link itemprop="mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
    <h1 itemprop="name" class="p-name" id="{{ anchorize .Title }}">{{ .Title }}</h1>
    {{ partial "footer/image.html" . }}
  </header>
  <section itemprop="text" class="e-content content">
    <p>
      Below are all of the posts with the <em>{{ .Title }}</em> {{ .Type | singularize }}.
      {{- $type := .Type }}
      {{- range first 1 (where $.Site.Data.glossary (.Type | singularize) "eq" .Title) }}
      {{- if eq $.Type "tags" }}
      A post tagged with <em>{{ $.Title }}</em> means that it is about <em>{{ $.Title }}</em>.  If a post references <em>{{ $.Title }}</em> but does not have the tag, then the post will not be in the list below.  If a post has the <em>{{ $.Title }}</em> tag or mentions <em>{{ $.Title }}</em>, then it will be in the <a href="/site-map/glossary/#abbr-dfn-{{ .key }}">Glossary for "{{ $.Title }}"</a>.
      {{- end }}{{- end }}
    </p>
    <p>
      I have ordered the posts from newest to oldest:
    </p>
    <ol>
      {{- range $index, $entry := sort .Pages "Date" "desc" }}
      {{- with $entry }}
      <li>
        <time datetime="{{ dateFormat .Site.Params.iso8601_format .Date }}">{{ dateFormat "2006-01-02" .Date}}</time>
        <span itemprop="hasPart" itemscope itemtype="http://schema.org/CreativeWork">
          <meta itemprop="position" content="{{ $index }}" />
          <cite itemprop="name"><a itemprop="url" href="{{ .Permalink}}">{{ .Title }}</a></cite>
	  {{- with .Params.Headline }}
	  <p>{{ . | markdownify }}</p>
	  {{- end }}
        </span>
      </li>
      {{- end }}
      {{- end }}
    </ol>
  </section>
</article>
{{ end }}
