////////////////////////////////////////////////////////////////////////////////
// BEGIN Light Color Definition
//
// When you need to edit colors, make changes within this region.
// Then look to the Dark Color Definition instructions.
body { background-color:  var(--bg); color:   var(--fg); }

h1 { color: var(--h1); }
h2 { color: var(--h2); }
h3 { color: var(--h3); }
h4 { color: var(--h4); }

table {
    border-top: 2px solid   var(--table-bg-thead);
    border-bottom: 2px solid   var(--table-bg-thead);

    &.unstriped tbody tr, .unstriped .subbody {
        background-color:   var(--table-bg-thead);
    }

    thead {
        th { border-bottom: 1px solid var(--table-bg-thead); }
        tr { background-color:   var(--table-bg-thead); }
    }
    th { font-weight: bold; color: var(--table-th-fg); }
    caption, td { color:   var(--table-td-fg); }
    tbody {
        th { text-align: left; }
        tr:nth-child(odd), &.subhead { background-color: var(--table-bg-tr-alt); }
    }
    tfoot td { border-top-color: var(--table-bg-thead); }
}

blockquote { border-left: 1px dotted var(--blockquote); }
.epigraphs {
    width: 85%;
    &:nth-of-type(odd) { background-color: var(--bg-dim) }
    padding: 1rem;
    dl { margin-bottom: 0rem; }
    blockquote {
        border-left: none;
        padding: 0;
        margin: 0;
    }
}

blockquote, .license, blockquote p { color:   var(--blockquote); }
article aside {
    &.margin { color: var(--aside); }
    color: var(--aside);
}

.disclaimer {
    background-color: var(--disclaimer);
    padding: 1rem;
}

.inline-comments {
    border-left: 2px dotted var(--bg-special-warm);
    padding-left: 1rem; }

.licensed {
    .wrapper { color: var(--code) ; }
    border-left: 1px dotted   var(--code);
}

.rune { color: var(--rune); }

dt { color:   var(--dt); }
dfn, .dfn { color:   var(--dfn); }

.sidenote-number:hover *, [role=note]:hover { background: var(--bg-special-warm); }
abbr {
    color:   var(--abbr);
    &:hover, &:focus, &:active {
        background: var(--abbr);
        color: var(--bg);
    }
}

a, [role="note"], dfn, .dfn, abbr, code, time, summary {
    transition: all 300ms;
}

a, .contrast {
    color:   var(--a);
    &:hover, &:focus, &:active {
        * { color: var(--bg); }
        time {
            background: var(--time);
        }
        code {
            background: var(--code);
        }
        abbr {
            background: var(--abbr);
        }
        background: var(--a);
        color: var(--bg);
    }
}

// a[href^=https]:not([href^="https://takeonrules.com"]) {
//     color: var(--a-external);
//     &:visited {
//         &:hover, &:focus, &:active {
//             background: var(--a-external-visited);
//         }

//         color: var(--a-external-visited); }
//     &:hover, &:focus, &:active {
//         background: var(--a);
//     }
// }

article footer .reply-by-email {
    padding: 0.5rem 0.75rem;
    background: var(--bg-reply-to-email);
    color: var(--fg-reply-to-email);
    border-radius: 4px;
    &:focus, &:hover, &:active {
	background: var(--bg-reply-to-email-hover);
    }
}


a:visited {
    color:   var(--a-visited);
    &:hover, &:focus, &:active {
        background: var(--a-visited);
	color: var(--bg);
    }
}


a.offscreen {
    &:focus, &:active, &:hover {
        background:  var(--a);
        color:   var(--bg);
    }
}

article em { color: var(--em); }
article cite { color: var(--cite); }
article cite:hover { border-bottom: thin dotted var(--cite); }

pre, code { color:  var(--code); }
pre code { background: var(--bg-dim) }

kbd { color: var(--kbd); }

// BEGIN COMMENTARY TYPE MARKS
s, del, ins {
    color:   var(--commentary);
    p { color:   var(--commentary); }
}

.margin, .side, .update {
    color:  var(--margin);
}
ins[role=note] { border-color:   var(--commentary); }

body.resume {
    .margin, .side, .update {
	color: var(--body);
    }
}

@media screen and (max-width: 760px) {
    ins[role="note"] {
        border-left: thin dotted   var(--commentary);
    }
}
s, del {
    text-decoration-thickness: 1px; text-decoration-color:   var(--commentary);
    &:hover, &:focus { text-decoration: none; }
}
// END COMMENTARY


time { color:   var(--time); }
mark { color:   var(--mark-fg); background-color:   var(--mark-bg); }

details {
    border-left: 1px dotted var(--summary);
    padding-left: 0.5rem;
}

summary {
    color:   var(--summary);
    &:hover {
        > * { color: var(--bg); }
        time {
            background: var(--summary);
        }
        code {
            background: var(--code);
        }
        a {
            &:hover { background: var(--summary); }
            background: var(--summary);
        }
        background: var(--summary);
        color: var(--bg);
    }
}

.sidenote-number:after, .side[role="note"]:before {
    color:   var(--sidenote-number);
}
// END Light Color Definition
////////////////////////////////////////////////////////////////////////////////
