@import "settings";

* { -webkit-transition: none !important; transition: none !important; font-size: 11px !important; }
pre, pre code { font-size: 10px !important; }
h1 { font-size: 20px !important; font-weight: 800; }
h2 { font-size: 17px !important; font-weight: 600; }
h3 { font-size: 13px !important; font-weight: 500; }
h4 { font-size: 12px !important; font-weight: 400; }
small { font-size: 9px !important; }

*, *:before, *:after { background: transparent !important; box-shadow: none !important; text-shadow: none !important; }
@page { margin: 0.75in 0.25in; orphans:4; widows:2; }
// body header, body footer, body nav, body .content .margin-toggle:not(.sidenote-number) { display:none; }
// body main header, .marginnote, .sidenote { display: inherit; }
body {
  // Without this line, the links could spill into the right column; I suspect this is in play regardless, and will
  // require more experimentation to see how things behave.
  overflow-wrap: break-word;
}

.book, .ref { display: none; }

body.resume {
    & > footer { display: none; }
    * { color: var(--fg) !important; }
    a, abbr, .dfn { text-decoration: none !important; }
    .dfn { font-style: normal; font-weight: 400; }
    h1 { color: var(--h1) !important; }
    h2 { color: var(--h2) !important; }
    h3 { color: var(--h3) !important; }
    h3 a { font-size: 13px !important; }
    // h3:not(:note) { margin-top: 1rem; }
    section:not(.note) dl { margin-left: 10px; }
}

.page-break	{ display: block; page-break-before: always; }

a { text-decoration: none; }

article {
  .table-wrapper, h2, h3, h4, summary { page-break-after: avoid; }
}
// I encountered print styling issues where an H2 was "floating" to the right of marginalia
// This appeared to resolve that issue
main { h1, h2, h3, h4 { clear: left; } }

body > footer nav, header, main > nav, main > section, article footer, .feeds { display:none; }
main header, blockquote footer { display: inherit; }

footer.group {
  font-family: var(--header-font); font-size: 9pt; // border-top: 1px solid $text-color;
  .footer-links { display: none; }
}

details > * {
  border-left: none !important;
}

tr, img { page-break-inside: avoid; }
img { max-width: 100% !important; }
p, h2, h3, h4, summary { orphans: 4; widows: 4; }

table {
  tbody tr.subhead {
    th { text-align: left; }
  }
}

// A hack to address the rather unfortunate margin issues with lists.
// Without this, the margin was aggressively set in.
// [role="note"] > ul { margin-left: -23px; }

.print-only { display: block; }