// This file contains all the constants for colors and font styles
// Enter Hipster Fonts
:root {
    --body-font: serif;
    --header-font: sans-serif;
    --counter-font: serif;
    --code-font: monospace;

    --bg-dim: #ede7db;
    --bg-inactive: #dfd5cf;
    --black: #333333;
    --blue-faint: #003497;
    --blue-warmer: #0000b0;
    --blue: #0031a9;
    --cyan-faint: #005077;
    --cyan-warmer: #3f578f;
    --cyan: #005e8b;
    --fg-alt: #193668;
    --fg-dim: #595959;
    --green-faint: #2a5045;
    --green-warmer: #316500;
    --green: #006800;
    --magenta-warmer: #8f0075;
    --red-faint: #702f00;
    --red-warmer: #972500;
    --white: #fbf7f0;
    --yellow-faint: #624416;
    --yellow-warmer: #884900;
    --yellow: #6f5500;

    --a-external-visited: var(--cyan-warmer);
    --a-external: var(--blue-faint);
    --a-visited: var(--cyan);
    --a: var(--blue);
    --abbr: var(--dfn);
    --aside: var(--yellow-faint);
    --bg-reply-to-email-hover: var(--green-warmer);
    --bg-reply-to-email: var(--green-faint);
    --bg: var(--white);
    --blockquote: var(--green-faint);
    --border: var(--head-bg);
    --cite: var(--cyan-warmer);
    --code: var(--green);
    --commentary: var(--yellow-faint);
    --dfn: var(--fg-dim);
    --disclaimer: var(--yellow-warmer);
    --dt: var(--dfn);
    --em: var(--fg-alt);
    --fg-reply-to-email: var(--bg);
    --fg: var(--black);
    --h1: var(--fg);
    --h2: var(--yellow-faint);
    --h3: var(--fg-alt);
    --h4: var(--cyan-warmer);
    --kbd: var(--green-warmer);
    --margin: var(--blue-faint);
    --mark-bg: var(--bg-inactive);
    --mark-fg: var(--fg-dim);
    --rune: var(--red-warmer);
    --sidenote-number: var(--blue);
    --summary: var(--magenta-warmer);
    --table-bg-thead: var(--bg-inactive);
    --table-bg-tr-alt: var(--bg-dim);
    --table-td-fg: var(--red-faint);
    --table-th-fg: var(--red-warmer);
    --time: var(--cyan-faint);
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: var(--white);
        --bg: var(--black);

	--bg-dim: #1d2235;
	--bg-inactive: #2b3045;
	--black: #0d0e1c;
	--blue-faint: #82b0ec;
	--blue-warmer: #79a8ff;
	--blue: #2fafff;
	--cyan-faint: #9ac8e0;
	--cyan-warmer: #4ae2f0;
	--cyan: #00d3d0;
	--fg-alt: #c6daff;
	--fg-dim: #989898;
	--green-faint: #88ca9f;
	--green-warmer: #70b900;
	--green: #44bc44;
	--magenta-warmer: #f78fe7;
	--red-faint: #ff9f80;
	--red-warmer: #ff6b55;
	--white: #eeeeee;
	--yellow-faint: #d2b580;
	--yellow-warmer: #fec43f;
	--yellow: #d0bc00;
    }
}
