{{ define "breadcrumb" }}
  {{ partial "breadcrumb.html" . }}
{{ end }}

{{ define "main" }}
<article itemprop="mainEntity" class="h-entry" id="skip-to-content" aria-labelledby="{{ anchorize .Title }}" itemid="#skip-to-content" itemscope itemtype="http://schema.org/Review">
    <header aria-labelledby="{{ anchorize .Title }}">
      <link itemprop="mainEntityOfPage" href="{{ .Permalink }}#skip-to-content" />
      {{ partial "header/post.html" . }}
      {{- with .Params.description }}<meta itemprop="description" content="{{ . | plainify }}" />{{- end }}
      {{- with .Params.ratingValue }}
      <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        <meta itemprop="ratingValue">{{ . }}</meta>
      </span>
      {{- end }}
      <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/{{ with .Params.itemReviewedType }}{{ . }}{{ else }}Book{{ end }}">
        {{ with .Params.itemReviewed }}
          <link itemprop="url" href="{{ .url }}" />
          <meta itemprop="name" content="{{ .name }}" />
          {{ range .authors }}
          <meta itemprop="author" content="{{ . }}" />
          {{ end }}
          {{- with .isbn }}
          <meta itemprop="isbn" content="{{ . }}" />
          {{- end }}
        {{ else }}
          {{ .Get }}
        {{ end }}
      </span>
    </header>
    <section itemprop="reviewBody" class="content e-content" aria-label="Content" >
      {{ .Content }}
    </section>
    <footer>
      <hr class="hidden">
      {{ partial "footer/replies.html" . }}
      {{ partial "footer/related-posts.html" . }}
      {{ partial "footer/licenses.html" . }}
      {{ partial "footer/image.html" . }}
    </footer>
  </article>
{{ end }}
