<section aria-labelledby="header-replies">
  <h2 id="header-replies">Reply to This Post</h2>
  {{ partial "footer/reply-by-email.html" . }}
  <form aria-label="Submit your mention URL" action="https://webmention.io/takeonrules.com/webmention" method="POST" >
    <fieldset>
      <legend id="mention-legend">Did you reply somewhere else to this post? Submit your reply's URL as a <a href="https://indieweb.org/webmention">webmention</a>.</legend>
      <input name="target" value="{{ .Permalink}}" type="hidden">
      <label for="mention-source">Enter Your Reply URL</label>: <input id="mention-source" class="input" name="source" placeholder="Your reply URL" required="required">
      <button type="submit" aria-describedby="mention-legend">Submit</button>
      <small><strong>Note:</strong> Any submitted <em>webmention</em> won't show up until I next "build" my site.</small>
    </fieldset>
  </form>
  {{- if isset .Params "webmentions" }}
  <details aria-labelledby="mentions-summary">
    <summary id="mentions-summary">There {{ with .Params.webmentions | len }}{{ if eq . 1}} is {{ . }} mention{{ else }} are {{ . }} mentions{{ end }}{{ end }} of this post&hellip;</summary>
    <ul aria-labelledby="header-webmentions">
      {{- range $idx, $mention := .Params.webmentions }}
      {{- with $mention }}
      <li aria-labelledby="webmention-{{$idx}}-{{ $.Page.File.UniqueID }}">
	<span id="webmention-{{$idx}}-{{ $.Page.File.UniqueID }}">
          <a href="{{ .source }}" rel="nofollow noopener noreferrer">{{ if isset . "source_page_name" }}{{ .source_page_name }}{{ else }}{{ .source }}{{ end }}</a>
          {{- if isset . "source_author_name" }}
          by
          {{- if isset . "source_author_url" }}
          <a href="{{ .source_author_url}}" rel="nofollow noopener noreferrer">{{ .source_author_name }}</a>
          {{- else }}
          {{ .source_author_name }}
          {{- end }}
          {{- end }}
	</span>
      </li>
      {{- end }}
      {{- end }}
    </ul>
  </details>
  {{- end }}
</section>
